.cardStyle {
  background-color: whitesmoke;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
  margin-top: 10px;
  border-radius: 10px;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.titleStyle {
  color: black;
  margin-top: 10px;
  margin-left: 10px;
}

.subTitleStyle {
  color: #bd1616;
  margin-left: 10px;
}

.icons {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.actions {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 25px;
  max-width: 200px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
